@page "/Profile"
@inject NavigationManager NavigationManager
@using FinalYearProjectWasmPortal.Services
@using Fyp.API
@using FinalYearProjectWasmPortal.Helpers
@using System.Globalization
@inherits ProfileComponentBase
@inject IProfileClient ProfileClient

<MudContainer MaxWidth="MaxWidth.Large">
    @if (IsLoading)
    {
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudPaper Class="pa-4 m-4" Style="text-align: center">
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
                </MudPaper>
            </MudItem>
        </MudGrid>
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Profile.User?.UnconfirmedEmail))
        {
            <MudLink Href="/ConfirmEmail">
                <MudAlert Severity="Severity.Warning">You have not confirmed your email, click to confirm.</MudAlert>
            </MudLink>
        }
        @if (Profile.ProfileDetails == null)
        {
            <MudAlert Severity="Severity.Warning">Profile not set yet. You must update your profile to use Mood Match.</MudAlert>
        }
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudPaper Class="pa-4 d-flex justify-content-center row">
                    <MudGrid Class="position-relative">
                        <MudImage Src="@UserInfo?.ProfilePicture" Alt="String.Empty" Class="profile-backdrop"></MudImage>
                        <MudItem xs="3"></MudItem>
                        <MudItem xs="6" Class="d-flex justify-content-center">
                            <div class="profile-avatar-container">
                                <MudAvatar Color="Color.Primary" Style="width: 200px; height: 200px">
                                    @if (!string.IsNullOrWhiteSpace(UserInfo?.ProfilePicture))
                                    {
                                        <MudImage Src="@(!string.IsNullOrWhiteSpace(_uploadedImageUri) ? _uploadedImageUri : UserInfo.ProfilePicture)"></MudImage>
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrWhiteSpace(_uploadedImageUri))
                                        {
                                            <MudImage Src="@(_uploadedImageUri)"></MudImage>
                                        }
                                        else
                                        {
                                            @UserInfo?.Username?[0]
                                        }
                                    }
                                </MudAvatar>
                                <MudFileUpload T="IBrowserFile" Class="profile-picture-button" FilesChanged="LoadFile">
                                    <ButtonTemplate>
                                        <MudFab HtmlTag="label" Color="Color.Transparent" Icon="@Icons.Material.Filled.AddCircleOutline"
                                                Style="width: 100%; height: 100%" for="@context">
                                        </MudFab>
                                    </ButtonTemplate>
                                </MudFileUpload>
                            </div>
                        </MudItem>
                        <MudItem xs="3" Class="position-relative">
                            @if (_file != null)
                            {
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="UploadProfilePicture" Style="position: absolute; bottom: 0; right: 0">Upload</MudButton>
                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="12">
                <MudPaper Class="pa-4">
                    @if (Profile.ProfileDetails == null)
                    {
                        <MudForm @ref="_form" Model="NewDetails">
                            <MudSelect T="string" Label="Title" AnchorOrigin="Origin.BottomCenter" @bind-Value="NewDetails.Title">
                                <MudSelectItem Value="@("Mr.")"/>
                                <MudSelectItem Value="@("Mrs.")"/>
                                <MudSelectItem Value="@("Ms.")"/>
                            </MudSelect>
                            <MudTextField T="string" Label="First Name" Disabled="true" Value="UserInfo.Firstname"/>
                            <MudTextField T="string" Label="Surname" Disabled="true" Value="UserInfo.Surname"/>
                            <MudTextField T="string" Label="Email Address" Disabled="true" Value="UserInfo.EmailAddress"/>
                            <MudSelect T="string" Label="Gender" AnchorOrigin="Origin.TopCenter" @bind-Value="NewDetails.Gender">
                                <MudSelectItem Value="@("Male")"/>
                                <MudSelectItem Value="@("Female")"/>
                                <MudSelectItem Value="@("Other")"/>
                            </MudSelect>
                            <MudSelect T="string" Label="Pronoun" AnchorOrigin="Origin.TopCenter" @bind-Value="NewDetails.Pronoun">
                                <MudSelectItem Value="@("He/him")"/>
                                <MudSelectItem Value="@("She/her")"/>
                                <MudSelectItem Value="@("They/them")"/>
                                <MudSelectItem Value="@("Other")"/>
                            </MudSelect>
                            <MudTextField T="string" Label="Biography" @bind-Value="NewDetails.Biography" Placeholder="Enter your biography here."/>
                            <MudDatePicker Label="Date Of Birth" @bind-Date="_dob"/>
                        </MudForm>
                    }
                    else
                    {
                        <MudForm @ref="_form" Model="Profile">
                            <MudSelect T="string" Label="Title" AnchorOrigin="Origin.BottomCenter" @bind-Value="Profile.ProfileDetails.Title">
                                <MudSelectItem Value="@("Mr.")"/>
                                <MudSelectItem Value="@("Mrs.")"/>
                                <MudSelectItem Value="@("Ms.")"/>
                            </MudSelect>
                            <MudTextField T="string" Label="First Name" Disabled="true" @bind-Value="Profile.User.FirstName"/>
                            <MudTextField T="string" Label="Surname" Disabled="true" @bind-Value="Profile.User.Surname"/>
                            <MudTextField T="string" Label="Email Address" Disabled="true" @bind-Value="Profile.User.EmailAddress"/>
                            <MudSelect T="string" Label="Gender" AnchorOrigin="Origin.TopCenter" @bind-Value="Profile.ProfileDetails.Gender">
                                <MudSelectItem Value="@("Male")"/>
                                <MudSelectItem Value="@("Female")"/>
                                <MudSelectItem Value="@("Other")"/>
                            </MudSelect>
                            <MudSelect T="string" Label="Pronoun" AnchorOrigin="Origin.TopCenter" @bind-Value="Profile.ProfileDetails.Pronoun">
                                <MudSelectItem Value="@("He/him")"/>
                                <MudSelectItem Value="@("She/her")"/>
                                <MudSelectItem Value="@("They/them")"/>
                                <MudSelectItem Value="@("Other")"/>
                            </MudSelect>
                            <MudTextField T="string" Label="Biography" @bind-Value="Profile.ProfileDetails.Biography"/>
                            <MudSelect T="string" Label="Mood" AnchorOrigin="Origin.TopCenter" @bind-Value="Profile.ProfileDetails.Mood">
                                @foreach (var mood in Constants.Moods)
                                {
                                    <MudSelectItem Value="@(mood.Key)"/>
                                    <MudSelectItem Value="@(mood.Value)"/>
                                }
                            </MudSelect>
                            <MudDatePicker Label="Date Of Birth" @bind-Date="_dob" Culture="CultureInfo.CurrentCulture" DateFormat="dd/MM/yyyy"/>
                        </MudForm>
                    }
                </MudPaper>
                <MudPaper Class="pa-4 mt-4 d-flex justify-content-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(CreateOrUpdateProfile)">Update Profile</MudButton>
                </MudPaper>
            </MudItem>
        </MudGrid>
    }
</MudContainer>

@code {

    protected override async Task OnInitializedAsync()
    {
        StartLoading();
        try
        {
            var profileAsync = await ProfileClient.GetProfileAsync();
            Profile = profileAsync.Data;
            _dob = Profile.ProfileDetails?.DateOfBirth.GetValueOrDefault().Date;
        }
        catch (APIException ex)
        {
            await DisplayError(ErrorHelper.UnwrapError(ex).ToString());
        }
        StopLoading();
    }

    private async Task CreateOrUpdateProfile()
    {
        try
        {
            if (Profile.ProfileDetails == null)
            {
                NewDetails.DateOfBirth = _dob;
                var profileAsync = await ProfileClient.CreateOrUpdateProfileDetailsAsync(NewDetails);
                Profile = profileAsync.Data;
                await DisplaySuccess("Profile successfully updated.");
            }
            else
            {
                Profile.ProfileDetails.DateOfBirth = _dob;
                var profileAsync = await ProfileClient.CreateOrUpdateProfileDetailsAsync(Profile.ProfileDetails);
                Profile = profileAsync.Data;
                await DisplaySuccess("Profile successfully updated.");
            }
            StateHasChanged();
        }
        catch (APIException ex)
        {
            await DisplayError(ErrorHelper.UnwrapError(ex).ToString());
        }
    }

    private async Task UploadProfilePicture()
    {
        try
        {
            var url = await ProfileClient.UploadProfilePictureAsync(_file);
            Profile.User.ProfilePictureUrl = url.Data;
            await DisplaySuccess("Successfully uploaded profile picture.");
        }
        catch (APIException ex)
        {
            await DisplayError(ErrorHelper.UnwrapError(ex).ToString());
        }
    }

    private async Task LoadFile(IBrowserFile e)
    {
        var ms = new MemoryStream();
        await e.OpenReadStream(1000 * 10 * 1024).CopyToAsync(ms);
        try
        {
            ms.Position = 0;
            _file = new FileParameter(ms, e.Name, e.ContentType);
            _uploadedImageUri = $"data:image/jpeg;base64, {Convert.ToBase64String(ms.ToArray())}";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await DisplayError(ErrorHelper.UnwrapError(ex).ToString());
        }
    }

    [CascadingParameter]
    public UserInfo? UserInfo { get; set; }

    private UserProfileDto Profile { get; set; } = new();
    private ProfileDetailsDto NewDetails { get; } = new();
    private DateTime? _dob;

    private MudForm _form = new();
    private FileParameter? _file;
    private string? _uploadedImageUri;

}